<div class="modal-container">

  <form class="modal-form" [formGroup]="form">

    <span class="title">Nov projekt</span>

    <mat-form-field appearance="standard" class="form-input">
      <mat-label>Ime projekta</mat-label>
      <input matInput formControlName="name" [errorStateMatcher]="errorMatcher"/>
      <mat-error *ngIf="name.hasError('required')">
        Ime projekta je <strong>obvezno</strong>
      </mat-error>
      <mat-error *ngIf="name.hasError('duplicateName')">
        {{ name.errors.duplicateName }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" class="form-input">
      <mat-label>Project owner</mat-label>
      <input type="text"
             matInput
             [formControl]="product_owner"
             [matAutocomplete]="autoPO"
             [errorStateMatcher]="errorMatcher"
             #userInput />
      <mat-autocomplete autoActiveFirstOption
       #autoPO="matAutocomplete" [displayWith]="mapValue">
        <mat-option *ngFor="let user of filteredUsersPO | async" [value]="user">
          {{user.username}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="product_owner.hasError('required')">
        Polje Project owner je <strong>obvezno</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" class="form-input">
      <mat-label>Scrum master</mat-label>
      <input type="text"
             matInput
             [formControl]="scrum_master"
             [matAutocomplete]="autoSM"
             [errorStateMatcher]="errorMatcher"
             #userInput />
      <mat-autocomplete autoActiveFirstOption
        #autoSM="matAutocomplete" [displayWith]="mapValue">
        <mat-option *ngFor="let user of filteredUsersSM | async" [value]="user">
          {{user.username}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="product_owner.hasError('required')">
        Polje Scrum master je <strong>obvezno</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-input" style="margin-bottom: 10px;">
      <mat-label>Član razvojne skupine</mat-label>
      <input type="text"
             placeholder="Dodaj člana"
             matInput
             [formControl]="search"
             [matAutocomplete]="autoDEV"
             [errorStateMatcher]="errorMatcher"
             #userInput />
      <mat-autocomplete autoActiveFirstOption
       (optionSelected)="userSelected($event)" #autoDEV="matAutocomplete" [displayWith]="mapValue">
        <mat-option *ngFor="let user of filteredUsersDev | async" [value]="user">
          {{user.username}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <app-project-modal-users-table [users]="selectedUsers" [roles]="roles" (onRemove)="remove($event)">
    </app-project-modal-users-table>

    <mat-error class="error-text" [ngStyle]="{opacity: errorMessage ? 1 : 0}">{{errorMessage}}</mat-error>

    <button mat-raised-button color="accent" class="save-btn" [disabled]="form.invalid"
    type="button" (click)="save()">Shrani</button>


  </form>

</div>
