<div class="task-card">
  <div>
    <div class="story-task-title">
      {{task.title}}
    </div>
    <div *ngIf="task.assignee || task.assignee_awaiting" class="story-assignee">
      Dodeljena: {{task.assignee || task.assignee_awaiting}}
        <mat-icon *ngIf="task.assignee && !task.assignee_awaiting; else notAccepted" class="story-assignee-accepted">done</mat-icon>
        <ng-template #notAccepted>
          <mat-icon class="story-assignee-awaiting">close</mat-icon>
        </ng-template>
    </div>
  </div>
  <div class="absolute-icons">
  <!-- <button mat-icon-button color="primary" aria-label="More info" class="options-btn" (click)="editTask()">
      <span class="material-icons">more_vert</span>
    </button> -->
    <button
      *ngIf="!!task.assignee && task.assignee === currentUser.username && !task.active"
      mat-icon-button
      class="more-settings"
      (click)="openWorkSessionCalendar.emit()"
    >
    <mat-icon>calendar_today</mat-icon>
    </button>
    <button
    mat-icon-button
    class="more-settings"
    [matMenuTriggerFor]="menu"
    >
      <mat-icon class="more-icon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item class="menu-btn" (click)="editTask()">
        {{this.canEdit ? "Uredi" :  "Preglej"}}
      </button>
      <button
        mat-menu-item
        *ngIf="(!task.assignee && !task.assignee_awaiting) || task.assignee_awaiting == currentUser.username"
        class="menu-btn"
        (click)="taskAccepted.emit()"
      >
        Sprejmi
      </button>
      <button
        mat-menu-item
        *ngIf="task.assignee_awaiting == currentUser.username"
        class="menu-btn"
        (click)="taskRejected.emit()"
      >
        Zavrni
      </button>

      <button
        *ngIf="task.active && !task.finished"
        mat-menu-item
        class="menu-btn reject"
        (click)="taskUnsetActive.emit()"
      >
        Končaj z delom
      </button>
      <button
        *ngIf="!task.active && !!task.assignee && !task.finished"
        mat-menu-item
        class="menu-btn accept"
        (click)="taskSetActive.emit()"
      >
        Prični z delom
      </button>

      <button
        mat-menu-item
        *ngIf="currentUser.username === task.assignee && !task.finished"
        class="menu-btn"
        (click)="taskFinished.emit()"
      >
        Zaključi
      </button>
      <button
        mat-menu-item
        *ngIf="currentUser.username === task.assignee && !task.finished && !task.active"
        class="menu-btn"
        (click)="taskRejected.emit()"
      >
        Odreči se nalogi
      </button>
      <button
        mat-menu-item
        *ngIf="this.canDelete"
        class="menu-btn reject"
        (click)="onDelete.emit()"
      >
        Izbriši
      </button>
    </mat-menu>
  </div>
</div>
