@import "../../../../variables";

.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-right: 10px;

  &.resized {
    min-width: 1100px;
    padding-right: 20px;
  }
}

.resolve-stories-header {
  width: 120px;
  height: 20px;
}

.resolve-stories-header-title {
  width: 60px;
  text-align: center;
  font-weight: 500;
  display: inline-block;
}

.stories-container {
  min-width: 1100px;
}

#info-section {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}

.resolving-stories-error {
  display: inline;
  margin-right: 10px;
  color: red;
  font-size: 16;
}
