@import "../../../../variables";



.header{
  justify-content: space-between;
  display: flex;
  min-width: 1000px;
}

.resolve-stories-header{
  width:120px;
  height: 20px;
}

.resolve-stories-header-title{
  width: 60px;
  text-align: center;
  font-weight: 500;
  display: inline-block;
}

.stories-container{
  min-width: 1240px;
}


#info-section {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}

.resolving-stories-error{
  display: inline;
  margin-right: 10px;
  color: red;
  font-size: 16;
}
