<div class="page-container">

  <div class="header">
    <span class="title">Sprint backlog</span>
    <button
      mat-raised-button
      color="accent"
      *ngIf="userRole==='Methodology master' || userRole==='Project manager' || isAdmin"
      class="dialog-button"
      class="view-sprints-btn"
      (click)="viewSprints()">
      Pregled sprintov
    </button>
  </div>


  <div id="info-section">
    <div *ngIf="activeSprint!=undefined; else noActiveSprint">Aktivni sprint: {{activeSprint.start_date}} - {{activeSprint.end_date}}</div>
    <ng-template #noActiveSprint>Trenutno ni aktivnega sprinta.</ng-template>
  </div>

 <app-sprint-story
    *ngFor="let story of stories"
    [story] = "story"

  ></app-sprint-story>

</div>
