<app-header [sidenav]="drawer" [title]="project.name"></app-header>
<mat-drawer-container class="sidenav-container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side" opened>

    <div class="sidenav-content">
      <div class="sidenav-item" routerLink="product-backlog" routerLinkActive="active-item">Product backlog</div>
      <div class="sidenav-item" routerLink="sprint-backlog" routerLinkActive="active-item">Sprint backlog</div>
    </div>
  </mat-drawer>
  <router-outlet></router-outlet>

</mat-drawer-container>
