<div class="task-card">
  <div>
    <div class="task-title">{{task.title}}</div>
    <div class="task-subtitle">Zgodba #1</div><!-- TODO: dodaj ime zgodbe -->
    <div class="task-complexity">Časovna zahtevnost v urah: {{task.estimated_time || "/"}}</div>
  </div>
  <div *ngIf="acceptanceAwaiting">
    <button mat-icon-button (click)="taskAccepted.emit()" matTooltip="Sprejmi" [matTooltipShowDelay]="3000">
      <mat-icon class="accept">done</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="taskRejected.emit()" matTooltip="Zavrni" [matTooltipShowDelay]="3000">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div *ngIf="!acceptanceAwaiting && !task.finished" >
    <button 
     mat-icon-button 
    class="more-settings"
    [matMenuTriggerFor]="menu"
    >
      <mat-icon class="more-icon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item class="menu-btn" (click)="taskFinished.emit()">Zaključi</button>
<!--       <button mat-menu-item class="menu-btn reject" *ngIf="task.active">Končaj z delom</button>
      <button mat-menu-item class="menu-btn accept" *ngIf="!task.active">Prični z delom</button> -->
    </mat-menu>
  </div>
</div>
