<div class="task-card">
  <div>
    <div class="task-title">{{task.title}}</div>
    <div class="task-subtitle">{{task.story_name}}</div>
    <div class="task-complexity">Časovna zahtevnost v urah: {{task.estimated_time || "/"}}</div>
  </div>
  <div *ngIf="acceptanceAwaiting">
    <button mat-icon-button (click)="taskAccepted.emit()" matTooltip="Sprejmi" [matTooltipShowDelay]="3000">
      <mat-icon class="accept">done</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="taskRejected.emit()" matTooltip="Zavrni" [matTooltipShowDelay]="3000">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div *ngIf="!acceptanceAwaiting" class="absolute-icons">
    <button
      *ngIf="!task.active && showCalendar"
      mat-icon-button
      class="more-settings"
      (click)="openWorkSessionCalendar.emit()">
      <mat-icon>calendar_today</mat-icon>
    </button>
    <button
      *ngIf="!task.finished"
      mat-icon-button
      class="more-settings"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon class="more-icon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="after">
      <button *ngIf="!task.active" mat-menu-item class="menu-btn accept" (click)="taskSetActive.emit()">Prični z delom</button>
      <button *ngIf="task.active" mat-menu-item class="menu-btn reject" (click)="taskUnsetActive.emit()">Končaj z delom</button>
      <button mat-menu-item class="menu-btn" (click)="taskFinished.emit()">Zaključi</button>
      <button *ngIf="!task.active" mat-menu-item class="menu-btn" (click)="taskRejected.emit()">Odreči se nalogi</button>
    </mat-menu>
  </div>
</div>
