<div class="header">
  <span *ngIf="sidenav; else blank" class="material-icons menu-icon" (click)="toggleNav()">
    {{navOpened ? 'menu_open' : 'menu'}}
  </span>
  <ng-template #blank>
    <span></span>
  </ng-template>

  <span class="header-title">{{(activeProject$ | async)?.name}}</span>
  
  <div class="content">
    <span *ngIf="showHome" class="material-icons item" matTooltip="Domov">home</span>
    <span class="item" mat-button [matMenuTriggerFor]="menu">klavdijav</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Odjava</button>
      <div class="last-login">
        Zadnja prijava: 2.1.2020 12:44
      </div>
    </mat-menu>
  </div>
</div>