@import "../../../variables";

.header {
  height: 30px;
  background-color: $indigo;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-title {
    font-weight: 500;
    color: white;
  }

  .content {
    display: flex;
    align-items: center;

    .item {
      margin-left: 20px;

      &:hover {
        color: $pink;
        cursor: pointer;
      }
    }
  }

  .menu-icon {
    &:hover {
      cursor: pointer;
    }
  }
}

.last-login {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding: 0 16px;
  color: rgb(134, 134, 134);
}
