@import "../../../../variables";

.resolve-story-panel {
  margin: 10px;
  padding: 10px;
  background: white;
}

.resolve-story-panel-header {
  background: white !important;
}

.resolve-story-panel-header:hover {
  background: white !important;
}

.resolve-story-panel-title{
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
}

.resolve-story-checkbox{
  margin-left: 10px;
}

.resolve-story-comment{
  width: 100%;
}



