<div class="page-container">

  <div class="header">
    <span class="title">Moje naloge</span>
  </div>

  <div class="sorting-titles">
    <div class="grey">Nerealizirane naloge</div>
    <div class="orange">Čakajoče naloge na potrditev</div>
    <div class="green">Aktivne naloge</div>
    <div class="grey">Zaključene naloge</div>
  </div>

  <div class="sorting-line"></div>

  <div class="data-container">
    <div class="data-column">
        <div class="data-cell" *ngFor="let task of tasks.unrealized; let i = index">
          <app-my-task-card
            [task]="task"
            [acceptanceAwaiting]="false"
            (taskFinished)="taskFinished(task, i, false)"
            (taskRejected)="taskRejected(task.id, i, true)"
            (taskSetActive)="taskSetActive(task, i)"
            >
          </app-my-task-card>
        </div>
    </div>

    <div class="data-column">
      <div class="data-cell" *ngFor="let task of tasks.awaiting; let i = index">
        <app-my-task-card
          [task]="task"
          [acceptanceAwaiting]="true"
          (taskAccepted)="taskAccepted(task.id, i)"
          (taskRejected)="taskRejected(task.id, i, false)"
          >
        </app-my-task-card>
      </div>
    </div>

    <div class="data-column">
      <div class="data-cell" *ngFor="let task of tasks.active; let i = index">
        <app-my-task-card
          [task]="task"
          [acceptanceAwaiting]="false"
          (taskFinished)="taskFinished(task, i, true)"
          (taskUnsetActive)="taskUnsetActive(task, i)"
          >
        </app-my-task-card>
      </div>
    </div>

    <div class="data-column">
      <div class="data-cell" *ngFor="let task of tasks.finished">
        <app-my-task-card
          [task]="task"
          [acceptanceAwaiting]="false">
        </app-my-task-card>
      </div>
    </div>
  </div>


</div>