<mat-card class="sprint-card">
  <mat-card-header class="sprint-card-header">
    <mat-card-title class="sprint-card-title">
      {{startDate |sprintDate}} - {{endDate | sprintDate}}
    </mat-card-title>

    <div>
      <div class="active-sprint-title" *ngIf="active">
        Aktivni sprint
      </div>
      <button *ngIf="this.canEdit" mat-icon-button color="primary" class="options-btn" (click)="this.editSprint()">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="this.canEdit" mat-icon-button color="warn" class="options-btn" (click)="this.deleteSprint()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </mat-card-header>
</mat-card>
