@import "../../../../variables";

.sprint-card {
  margin: 10px;
  padding: 10px;
}

.active-sprint-title {
  color: $green;
  font-weight: 500;
  display: inline-block;
}

.sprint-card-header {
  justify-content: space-between;
  align-items: center;
  height: 40px;

  .mat-card-title {
    margin-bottom: 0px;
  }
}

.sprint-card-title {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
}
