@import "../../../../variables";

.sprint-card {
  margin: 10px;
  padding: 10px;
}

.activeSprintTitle{
  color: green;
}

.sprint-card-header{
  justify-content: space-between;
  align-items: center;

  .mat-card-title{
    margin-bottom: 0px;
  }
}

.sprint-card-title{
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 16px;
}



