@import "../../../variables";

.modal-container {
  width: 800px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.title {
  color: $pink;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.story-list {
  width: 100%;
  height: 400px;

  .story-list-viewport{
    width: 100%;
    height: 100%;
  }
}

.form-input {
  width: 60%;
}

.save-btn{
  margin-top: 30px;
}

.error-message{
  color: #f44336;
}

.add-test-button {
  margin-top: 20px;
  margin-bottom: 10px;
}
