<div class="modal-container" [@.disabled]="disableAnimation">
  <span class="title">Sprejmi / Zavrni zgodbe</span>

  <div class="story-list">
    <cdk-virtual-scroll-viewport itemSize="" class="story-list-viewport">
      <app-resolve-story-card *ngFor="let story of stories"
        [id] = story.id
        [name] = story.name
        [allTasksFinished] = story.all_tasks_finished
        (acceptStory) = "acceptStory($event)"
        (rejectStory) = "rejectStory($event)"
        (rejectionComment) = "rejectionComment($event)"
      >
      </app-resolve-story-card>
    </cdk-virtual-scroll-viewport>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{errorMessage}}
  </div>

  <button mat-raised-button color="accent" class="save-btn"
  type="button" (click)="resolveStories()" [disabled]="resolvingStories">Shrani</button>

</div>
