@import "../../../../variables";

.page-container {
  min-width: 1000px;
}

.header {
  justify-content: space-between;
  display: flex;

  .pink-btn {
    margin-left: 20px;
  }
}

.form-input{
  width: 100%;
}

.documentation-textarea{
  background-color: white;
  padding: 20px;
  width: calc(100% - 40px);
}

.documentation-message
{
  float: left;
  margin-top: 8px;
  margin-left: 5px;
  color: #3f51b5;

  &.documentation-error{
    color: #f44336;
  }
}

.data-container {
  margin-top: 10px;
}

