<div class="modal-container" [@.disabled]="disableAnimation">

  <form class="modal-form" [formGroup]="form">

    <span class="title">Pregled sprintov</span>

    <mat-card class="sprints-card">
      <div class="sprint-list">
        <cdk-virtual-scroll-viewport itemSize = "68" class="sprint-list-viewport">
          <mat-accordion>
            <app-sprint-card
            *cdkVirtualFor="let sprint of sprintList, templateCacheSize: 0"
            [startDate]="sprint.start_date"
            [endDate]="sprint.end_date"
            [active]="activeSprintId === sprint.id"
            [canEdit]="this.canEdit(sprint.start_date)"
            [canEditSpeed]="this.userRoles.includes('Admin') || this.userRoles.includes('Scrum Master')"
            (onDelete)="this.deleteSprint(sprint.id)"
            (onEdit)="this.editSprint(sprint.id, sprint.start_date, sprint.end_date, sprint.expected_speed, activeSprintId === sprint.id)"
            >
            </app-sprint-card>
          </mat-accordion>
        </cdk-virtual-scroll-viewport>
      </div>
    </mat-card>

    <mat-expansion-panel class="add-sprint-panel" [expanded]="false" *ngIf="userRoles.includes('Admin') || userRoles.includes('Scrum Master')">
      <mat-expansion-panel-header class="add-sprint-header">
        <mat-panel-title class="add-sprint-title">
          Nov sprint...
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field  appearance="standard" class="form-input" color="accent">
        <mat-label>Datum pričetka sprinta</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" [min]="startDateMin" [max]="this.form.value.endDate" required>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker [startAt]="startDateMin"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="standard" class="form-input" color="accent">
        <mat-label>Datum zaključka sprinta</mat-label>
        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" [min]="this.form.value.startDate" required>
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker [startAt]="this.form.value.startDate || startDateMin"></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-input" appearance="standard" required>
        <mat-label>Hitrost sprinta (št. točk)</mat-label>
        <input matInput type="number" formControlName="expectedSpeed" min="0" required>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">
        {{errorMessage}}
      </div>

      <div>
        <button mat-raised-button color="accent" class="save-btn"
      type="button" (click)="save()" [disabled]="!this.form.valid || addingSprint">
        {{addingSprint ? "Shranjevanje..." : "Shrani"}}
      </button>

      </div>

    </mat-expansion-panel>

  </form>

</div>
