@import "../../../variables";

.modal-container {
  width: 700px;
}

.sprints-card{
  padding: 0;
  border-radius: 10px;
}

.sprint-list{
  height: 300px;
  width: 100%;

  .sprint-list-viewport {
    height: 100%;
    width: 100%;
  }
}

.title {
  color: $pink;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 60%;
}

.error-message{
  color: #f44336;
}

.save-btn {
  margin-top: 10px;
}

.add-sprint-panel{
  margin-top: 20px;
  margin-bottom: 10px;
}

.add-sprint-header{
  justify-content: space-between;
}

.add-sprint-title{
  color: $pink;
  font-weight: 500;
}

