@import "../../../../variables";

.dragdrop-list {
  background-color: #eaeaea;
  padding: 10px;
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
}


.no-items-message{
  margin-top: 15px;
}

.sprint-list {

  padding: 10px;
  padding-top: 5px;
  margin: 0px;
  border-radius: 5px;
}

.sprint-expansion-panel {
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.sprint-expansion-panel-body{
  padding: 0px;
}

.sprint-expansion-panel-title{
  font-weight: 500;
}
