<mat-expansion-panel
  class="sprint-expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title class="sprint-expansion-panel-title">
      {{(startDate | sprintDate)}} - {{endDate | sprintDate}}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div
    cdkDropList
    #sprintList="cdkDropList"
    class="dragdrop-list sprint-list"
    [cdkDropListData]="stories"
  >
    <!--- TEMP -->
    <div *ngIf="!stories" class ="no-items-message">V sprintu trenutno ni zgodb.</div>
    <!-- <app-task-card [task]="item" *ngFor="let item of stories" cdkDrag></app-task-card>
 -->  </div>

</mat-expansion-panel>
