<app-header [sidenav]="drawer" [title]="'Projektič'"></app-header>
<mat-drawer-container class="sidenav-container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side" opened>
      <div class="sidenav-content">
          <div class="sidenav-item" routerLink="/project/1" routerLinkActive="active-item">Moj projekt #1</div>
          <div class="sidenav-item" routerLink="/project/2" routerLinkActive="active-item">Moj projekt #2</div>
          <div class="sidenav-item" routerLink="/project/3" routerLinkActive="active-item">Moj projekt #3</div>
      </div>
  </mat-drawer>

  <router-outlet></router-outlet>

</mat-drawer-container>